In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("steam-200k.csv")
data.head(20)

    player_id                   game_name   pur_pla  pur_pla_read  Unnamed: 4
0   151603712  The Elder Scrolls V Skyrim  purchase           1.0           0
1   151603712  The Elder Scrolls V Skyrim      play         273.0           0
2   151603712                   Fallout 4  purchase           1.0           0
3   151603712                   Fallout 4      play          87.0           0
4   151603712                       Spore  purchase           1.0           0
5   151603712                       Spore      play          14.9           0
6   151603712           Fallout New Vegas  purchase           1.0           0
7   151603712           Fallout New Vegas      play          12.1           0
8   151603712               Left 4 Dead 2  purchase           1.0           0
9   151603712               Left 4 Dead 2      play           8.9           0
10  151603712                    HuniePop  purchase           1.0           0
11  151603712                    HuniePop      play           8.5           0
12  151603712               Path of Exile  purchase           1.0           0
13  151603712               Path of Exile      play           8.1           0
14  151603712                 Poly Bridge  purchase           1.0           0
15  151603712                 Poly Bridge      play           7.5           0
16  151603712                 Left 4 Dead  purchase           1.0           0
17  151603712                 Left 4 Dead      play           3.3           0
18  151603712             Team Fortress 2  purchase           1.0           0
19  151603712             Team Fortress 2      play           2.8           0

In [3]:
data.drop("Unnamed: 4",axis=1)

        player_id                   game_name   pur_pla  pur_pla_read
0       151603712  The Elder Scrolls V Skyrim  purchase           1.0
1       151603712  The Elder Scrolls V Skyrim      play         273.0
2       151603712                   Fallout 4  purchase           1.0
3       151603712                   Fallout 4      play          87.0
4       151603712                       Spore  purchase           1.0
...           ...                         ...       ...           ...
199995  128470551                 Titan Souls      play           1.5
199996  128470551  Grand Theft Auto Vice City  purchase           1.0
199997  128470551  Grand Theft Auto Vice City      play           1.5
199998  128470551                        RUSH  purchase           1.0
199999  128470551                        RUSH      play           1.4

[200000 rows x 4 columns]

In [4]:
recc=["Battle Islands","Duelyst","Dwarfs - F2P","AirMech Strike","Stronghold Kingdoms",
      "Bloodline Champions","Istrolid","SMITE","Strife","Strife","Prime World"]

In [26]:
data.sort_values(by=['game_name'],ascending=True)
data.head(10)

   player_id                   game_name   pur_pla  pur_pla_read  Unnamed: 4
0  151603712  The Elder Scrolls V Skyrim  purchase           1.0           0
1  151603712  The Elder Scrolls V Skyrim      play         273.0           0
2  151603712                   Fallout 4  purchase           1.0           0
3  151603712                   Fallout 4      play          87.0           0
4  151603712                       Spore  purchase           1.0           0
5  151603712                       Spore      play          14.9           0
6  151603712           Fallout New Vegas  purchase           1.0           0
7  151603712           Fallout New Vegas      play          12.1           0
8  151603712               Left 4 Dead 2  purchase           1.0           0
9  151603712               Left 4 Dead 2      play           8.9           0

In [13]:
d2="Dota 2"
p_id=[]
p_id=data[data.game_name==d2]['player_id'].reset_index(drop=True)
p_id.head()
type(p_id)

pandas.core.series.Series

In [27]:
df=data[data['player_id'].isin(p_id)]
df.shape

(95675, 5)